<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
  <div class="col-lg-8 col-xl-9 col-xxl-10">
  <div class="content-wrappe">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="card">
                <div class="card-header">
                  <div class="row" style="width:95%">
                      <div class="col-9">
                          <h1>Audio Clips</h1>
                      </div>
                      <div class="col-3">
                        <button (click)="toggleEdit()" class="btn btn-primary">New Audio Clip</button>
                        <button (click)="toggleUpload()" style="margin-left:20px;" class="btn btn-secondary">Upload Audio Clip</button>
                      </div>
                  </div>
                </div>
                <div class="card-body">
                    <div *ngIf="edit=='Y'" class="row" style="background-color: aliceblue;">
                        <div class="col-6">
                            <div class="card" style="margin-top:20px;">
                                <h2 style="margin-left:20px;">Create Audio Clip</h2>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Script Name (optional)</label>
                                                <input [(ngModel)]="data.formData['script_name']" type="text" class="form-control" name="script_name" id="exampleFormControlInput1" placeholder="">
                                              </div>
                                              <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Voice Name</label>
                                                <select [(ngModel)]="data.formData['voice_id']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                                                    <option value="0">-- Select a Voice --</option>
                                                    <option *ngFor="let n of data.voices" value="{{ n.id }}">{{ n.voice_name }}</option>
                                                </select>
                                              </div>                                              
                                              <div class="mb-3">
                                                <label for="exampleFormControlTextarea1" class="form-label">Script:</label>
                                                <textarea [(ngModel)]="data.formData['script']" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                                              </div>
                                              <div class="row">
                                                <div class="col-12" style="text-align: right;">
                                                    <button (click)="toggleEdit()" class="btn btn-secondary">Cancel</button>
                                                    <button style="margin-left:20px;" (click)="postForm()" class="btn btn-primary">Submit</button>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="upload=='Y'" class="row" style="background-color: aliceblue;">
                      <div class="col-6">
                          <div class="card" style="margin-top:20px;">
                              <h2 style="margin-left:20px;">Upload Audio Clip</h2>
                              <div class="card-body">
                                  <div class="mb-3">
                                      <label for="exampleFormControlInput1" class="form-label">Clip Name:</label>
                                      <input [(ngModel)]="data.formData['script_name']" type="text" class="form-control" name="script_name" id="exampleFormControlInput1" placeholder="">
                                    </div>  
                                    <div class="mb-3">
                                      <label for="exampleFormControlInput1" class="form-label">Voice Name:</label>
                                      <input [(ngModel)]="data.formData['voice_name']" type="text" class="form-control" name="voice_name" id="exampleFormControlInput1" placeholder="">
                                    </div>                                                                                
                                    <div class="mb-3">
                                      <label for="exampleFormControlTextarea1" class="form-label">Script (Optional):</label>
                                      <textarea [(ngModel)]="data.formData['script']" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                                    </div>
                                  <div class="row">
                                      (For best results use .wav and .mp3 files)
                                      <div class="col-12">
                                          <file-upload class="fileUpload"  
                                          (ngFileDrop)="drop();" 
                                          [control]="fileUploadControl" 
                                          [(ngModel)]="uploadedFiles" 
                                          name="files"></file-upload>
                                          <div [innerHTML]="uploadedList"></div>
                                          <div class="progress form-group" *ngIf="progress > 0">
                                              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                                              </div>
                                          </div>
                                  <div class="row p-2">
                                      <div class="col-4"></div>
                                      <div class="col-2"></div>
                                      <div class="col-4"><button (click)="uploadFiles()" class="btn btn-secondary">Upload</button>
                                          <button (click)="toggleEdit()" style="margin-left:20px;" class="btn btn-light">Cancel / Close</button>
                                      </div>
                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>                    
                  <div class="row">  
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th style="width:100px;">ID</th>
                                <th style="width:120px;">Date/Time</th>
                                <th style="width:100px;">Voice</th>
                                <th>Script</th>
                                <th style="width:100px;">Status</th>
                                <th style="width:100px;"></th> 
                                <th style="width:150px;"></th> 
                            </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let m of data.list">
                            <tr *ngIf="m.edit=='N'&&m.video=='N'&&m.speed=='N'">
                              <td>{{ m.id }}</td>
                              <td>{{ m.create_timestamp }}</td>
                              <td>{{ m.voice_name }}</td>
                              <td>{{ m.script }}</td>
                              <td>{{ m.status }}</td>
                              <td><audio *ngIf="m.file_name!=''" controls><source src="https://sqlstudios.com/audio/{{ m.user_id }}/{{ m.file_name }}" type="audio/wav"></audio></td>
                              <td>
                                <button (click)="toggleS(m);" style="margin-top:10px; width:200px;" class="btn btn-secondary">Change Speed</button>
                                <button (click)="toggleV(m);" style="margin-top:10px; width:200px;" class="btn btn-secondary">Make Video</button>
                                <button (click)="toggleE(m);" style="margin-top:10px; width:200px;" class="btn btn-secondary">Edit</button>                                  
                              </td>
                          </tr>
                          <tr *ngIf="m.edit=='Y'">
                            <td>{{ m.id }}</td>
                            <td></td>
                            <td></td>
                            <td colspan="2">
                              <textarea [(ngModel)]="data.formData['script']" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                            <td>
                              <button style="margin-top:10px; width:200px;" class="btn btn-primary">Submit</button><br>
                              <button (click)="toggleE(m);" style="margin-top:10px; width:200px;" class="btn btn-light">Cancel</button><br>                              
                            </td>
                            <td>
                            
                            </td>
                        </tr>
                        <tr *ngIf="m.speed=='Y'">
                          <td>{{ m.id }}</td>
                          <td></td>
                          <td></td>
                          <td colspan="2">
                            New Speed: 
                            <select [(ngModel)]="data.faceData['face_id']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                              <option value="0.50">0.50 Slower</option>
                              <option value="0.55">0.55 Slower</option>
                              <option value="0.60">0.60 Slower</option>
                              <option value="0.65">0.65 Slower</option>
                              <option value="0.70">0.70 Slower</option>
                              <option value="0.75">0.75 Slower</option>
                              <option value="0.80">0.80 Slower</option>
                              <option value="0.85">0.85 Slower</option>
                              <option value="0.90">0.90 Slower</option>
                              <option value="0.95">0.95 Slower</option>
                              <option value="1.0">1.0 Same Speed</option>
                              <option value="1.05">1.05 Faster</option>
                              <option value="1.10">1.10 Faster</option>
                              <option value="1.15">1.15 Faster</option>
                              <option value="1.20">1.20 Faster</option>                              
                              <option value="1.25">1.25 Faster</option>
                          </select>
                          <td>
                            <button style="margin-top:10px; width:200px;" class="btn btn-primary">Submit</button><br>
                            <button (click)="toggleE(m);" style="margin-top:10px; width:200px;" class="btn btn-light">Cancel</button><br>                              
                          </td>
                          <td>
                          
                          </td>
                      </tr>                        
                        <tr *ngIf="m.video=='Y'">
                          <td>{{ m.id }}</td>
                          <td colspan="6">
                            <div class="row">
                              <div class="col-4">
                              <div class="card" style="margin-top:20px;">
                                <h2 style="margin-left:20px;">Create Video Clip</h2>
                                <div class="card-body">
                                  <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Video Clip Name (optional)</label>
                                    <input [(ngModel)]="data.faceData['video_name']" type="text" class="form-control" name="script_name" id="exampleFormControlInput1" placeholder="">
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Face Name</label>
                                    <select [(ngModel)]="data.faceData['face_id']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                                        <option value="0">-- Select a Face --</option>
                                        <option *ngFor="let n of data.faces" value="{{ n.id }}">{{ n.face_name }}</option>
                                    </select>
                                  </div> 
                                  <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Output Type</label>
                                    <select [(ngModel)]="data.faceData['output_type']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                                        <option value="0">Green Screen</option>
                                    </select>
                                  </div>     
                                  <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Position</label>
                                    <select [(ngModel)]="data.faceData['position']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                                        <option value="0">Middle Center</option>
                                    </select>
                                  </div>                                       
                                  <div class="row">
                                    <div class="col-12" style="text-align: right;">
                                        <button (click)="toggleV(m)" class="btn btn-secondary">Cancel</button>
                                        <button style="margin-left:20px;" (click)="postFace()" class="btn btn-primary">Submit</button>
                                    </div>
                                  </div>                                                                  
                                </div>
                                </div>
                              </div>
                              <div class="col-8">
                                <div class="row">
                                  <div *ngFor="let k of data.faces" class="col-3">
                                    <div class="card">
                                      <img src="assets/{{ k.img_path }}" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <button (click)="selectFace(k);" class="btn btn-light">{{ k.face_name }}</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                      </tr>
                          </ng-container>
                        </tbody>
                    </table>                                  
                  </div>
                </div>  
              </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>