<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div style="margin-left: 30px; " class="card">
    <div class="container-fluid p-3">
        <div class="row card card-body m-3">
            <div class="col-8" style="background-color: white;">
                <h1>Assessment Survey</h1>
                <h2 class="mt-2">{{ data?.formData?.facility_name }}</h2>
            </div>   
        </div>       
        <div class="row p-3">
            <div class="col-3">
                <div class="card card-body">
                    <app-assessment-menu (menuClick)="processClick($event);" [active]="section_code"></app-assessment-menu>
                </div>
            </div>
    
            <div class="col-sm-9">
                <!-- UPLOADNG -->
                <div *ngIf="uploading=='Y'" class="card p-3">
                    <app-smart-upload [workspace_id]="data?.formData?.id" document_id="'0'" (cancel)="closeUpload()"></app-smart-upload>
                </div>
                <!-- ADDING -->
                <div *ngIf="adding=='Y'" class="card p-3">
                    <app-add-document-form (cancel)="toggleAdd()" [workspace_id]="data?.formData?.id" [user_id]="uid"></app-add-document-form>
                </div>   
                <div *ngIf="inviting=='Y'" class="card p-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Invite Team Member</h2>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" style="color: black" class="form-label">Email address</label>
                                <input [(ngModel)]="formData.email" type="email" class="form-control" id="exampleFormControlInput1">
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlInput1" style="color: black" class="form-label">Full Name</label>
                                <input [(ngModel)]="formData.full_name" type="text" class="form-control" id="exampleFormControlInput1">
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" style="color: black" class="form-label">Custom Message</label>
                                <textarea [(ngModel)]="formData.custom_msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" style="color: black" class="form-label">Default Role</label>
                                <select [(ngModel)]="formData.default_role" class="form-select" aria-label="Default select example">
                                    <option selected>-- Select --</option>
                                    <option value="0">Read Only</option>
                                    <option value="2">Read Write</option>
                                    <option value="3">Full Control</option>
                                    <option value="5">Upload Only</option>
                                    <option value="7">Administrator</option>
                                  </select>
                             </div>
                             <div class="mb-3">
                                    <button (click)="sendInviteT()" class="btn btn-primary">Send Invitation</button>
                                    <button style="margin-left: 16px;" (click)="toggleInviteT()" class="btn btn-light">Cancel</button>
                             </div>
                        </div>
                    </div>
                </div>         
                    <app-general-description [org_id]="org_id" *ngIf="this.general=='Y'"></app-general-description>
<!--                    <app-student-transportation [org_id]="org_id" *ngIf="this.transportation=='Y'"></app-student-transportation> -->
<ng-container *ngFor="let m of data.sections">
    <app-section-template 
    [org_id]="org_id" 
    [template_id]="'0'" 
    [section_id]="m.id" 
    [include_background]="m.include_background"
    [include_comments]="m.include_comments"
    [include_documents]="m.include_documents"
    [include_saa]="m.include_saa"
    [include_photos]="m.include_photos" 
    *ngIf="this.section_code==m.id"
    ></app-section-template>    
</ng-container>
                </div>
            </div>   
    </div>
    </div>    
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
            <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>
    </div>
    <span style="font-size:10px;">app/features/survey</span>
    