<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
  <div class="col-lg-8 col-xl-9 col-xxl-10">
  <div class="content-wrappe">
      <div class="row">
        <div class="card">
            <div class="card-header">
              <div class="row">
                  <div class="col-12">
                      <h1>Getting Started</h1>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="col-12">
                      <a [routerLink]="['/workspaces']"><div  class="card">
                          <img src="assets/getting-started.jpg" class="card-img-top" alt="...">
                        </div></a>
                  </div>
                  <div class="col-6">
                    <div class="card-body">
                        <h2>The Process</h2>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-body">
                        <h2>The Results</h2>
                    </div>
                  </div>
            </div>
                  <div class="row">
              </div>
            </div>  
          </div>
      </div>
  </div>
  </div>
  </div>