<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div style="margin-left: 30px; " class="card">
    <div class="container-fluid p-3">
        <div class="row card card-body m-3">
            <div class="col-8" style="background-color: white;">
                <h1>Project Editor</h1>
                <h2 class="mt-2">{{ data?.formData?.project_name }}</h2>
            </div>   
        </div>
        <div class="row card card-body m-3">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success" (click)="toggleImport();">Import Media Clips</button>
                    <button style="margin-left:20px;" class="btn btn-primary" (click)="toggleUpload">Upload Media</button>
                    <div style="margin-top:20px;" *ngIf="show_import=='Y'" class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        Media Type:<br><select [(ngModel)]="media_type" class="form-control"><option value="video">Video Clip</option><option value="audio">Audio Clip</option><option value="uploaded">Uploaded Media</option></select>
                                    </div>
                                </div>
                                <div class="row" *ngIf="media_type=='video'">
                                    <div class="col-12">
                                        <h2 style="margin-top:20px;">Select Video Clip</h2>
                                        <div class="row">
                                            <div *ngFor="let m of data.video" class="col-3 card">
                                                <div class="card-header">
                                                    {{ m.id }}: {{ m.video_name }}
                                                </div>
                                                <div class="card-body">
                                                    <video style="max-width:280px" class="library" controls preload="auto" data-config="some-js-object-here">
                                                        <source src="{{ m.file_url }}" type='video/mp4'>
                                                      </video>  
                                                    <button (click)="addVideo(m);" class="btn btn-light">Add to Project</button>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row" *ngIf="media_type=='audio'">
                                    <div class="col-12">
                                        <h2 style="margin-top:20px;">Select Audio Clip</h2> 
                                        <div class="row">
                                            <div *ngFor="let m of data.audio" class="col-3 card">
                                                <div class="card-header">
                                                    {{ m.id }}: {{ m.voice_name }}-{{ m.script_name }}
                                                </div>
                                                <div class="card-body">
                                                    {{ m.script }}<br>
                                                    <button (click)="addAudio(m);" class="btn btn-light">Add to Project</button>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>       
                                </div>   
                                <div class="row" *ngIf="media_type=='uploaded'">
                                    <div class="col-12">
                                        <h2 style="margin-top:20px;">Select Media Clip</h2>
                                    </div><h2 style="margin-top:20px;">Select Media Clip</h2>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>        
        <div class="row p-3">
            <div class="col-3">
                <div class="card card-body">
                    <h2>Main Menu</h2>
                    <sql-menu (menuClick)="processClick($event);" [active]="'DOCUMENTS'">
                        <li #row id="ADD">Add Captions</li>    
                        <li #row id="MERGE">Merge Videos</li>
                        <li #row id="ARRANGE">Arrange Media</li>
                        <li #row id="EDIT">Edit Clip</li>                              
                    </sql-menu>
                </div>
            </div>
            <div class="col-sm-9">
                <div *ngIf="uploading=='Y'" class="card p-3">
                    <app-smart-upload [workspace_id]="data?.formData?.id" document_id="'0'" (cancel)="closeUpload()"></app-smart-upload>
                </div>
                <div class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Project Timeline</h2>
                        </div>
                    </div> 
                </div>
                <div class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Media Clips</h2>
                            <h2 style="margin-top:20px;">Video Clips</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                    <div class="card-body">
                                        <video style="max-width:280px" class="library" controls preload="auto" data-config="some-js-object-here">
                                            <source src="{{ m.file_url }}" type='video/mp4'>
                                          </video>  
                                          <div class="row">
                                            <div class="col-6">
                                                <button style="width:95%" (click)="addVideo(m);" class="btn btn-success">Add Timeline</button>
                                            </div>
                                            <div class="col-6">
                                                <button style="width:95%" (click)="addVideo(m);" class="btn btn-danger">Remove</button>
                                            </div>
                                          </div>
                                          <div style="margin-top:20px;" class="row">
                                            <div class="col-12">
                                                <button style="width:95%" (click)="addVideo(m);" class="btn btn-secondary">Edit Clip</button>
                                            </div>
                                          </div>                                    
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                    </div> 
                </div>
                <div *ngIf="version=='Y'" class="card p-3">
                    <hr/>
                    <app-sql-upload [document_id]="doc_id" [workspace_id]="data.formData.id"></app-sql-upload>
                </div>
            </div>
        </div>   
    </div>
    </div>    
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
            <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>
    </div>:793
