<div class="card" style="margin-top:20px;">
    <div class="card-header">
        <div class="row" style="width:95%">
            <div class="col-10">
                <div style="font-size:18px;">Section Areas & Assets</div>
            </div>
            <div class="col-2" style="text-align: right;">
                <div (click)="toggleAdd()" class="btn btn-primary">
                    <i class="bi bi-clipboard2-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="adding=='Y'" class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input [(ngModel)]="saa_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
                    <textarea [(ngModel)]="text" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                  </div>
                  <div class="mb-3">
                    <p>Area/Asset Type</p>
                  <select [(ngModel)]="saa_type" class="form-select">
                    <option selected>Select Area/Asset Type</option>
                    <option *ngFor="let m of data.saa_types" value="m.id">{{ m.options }}</option>
                  </select>
                  </div>
                  <div class="row">
                    <div class="col-12" style="text-align: right;">
                        <button (click)="toggleAdd()" class="btn btn-secondary">Cancel</button>
                        <button style="margin-left:20px;" (click)="postForm()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Existing Critical Areas / Assets (this section)</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Asset/Area Name</th>
                            <th>Type</th>
                            <th>Added By</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of data.saa">
                            <td>{{ m.create_timestamp }}</td>
                            <td>{{ m.saa_name }}</td>
                            <td>{{ m.full_name }}</td>
                            <td><button class="btn btn-primary" (click)="edit(m)"><i class="bi bi-pencil-square"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: right;">
                <button (click)="closeIt()" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>
