<div class="card" style="margin-top:20px;">
    <div class="card-header">
        <div class="row" style="width:95%">
            <div class="col-10">
                <div style="font-size:18px;">Assessment Participants</div>
            </div>
            <div class="col-2" style="text-align: right;">
                <div (click)="toggleAdd()" class="btn btn-primary">
                    <i class="bi bi-clipboard2-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="adding=='Y'" class="row">
            <div class="col-12">
                <div class="mb-3">
                  <p>Full Name:</p>
                  <input type="text" name="full_name" [(ngModel)]="full_name" class="form-control">
                </div>
                <div class="mb-3">
                    <p>Organization:</p>
                    <input type="text" name="org_name" [(ngModel)]="org_name" class="form-control">
                  </div>
                  <div class="mb-3">
                    <p>Title:</p>
                    <input type="text" name="org_name" [(ngModel)]="title" class="form-control">
                  </div>
                  <div class="mb-3">
                    <p>Contact Phone:</p>
                    <input type="text" name="org_name" [(ngModel)]="contact_phone" class="form-control">
                  </div>
                  <div class="mb-3">
                    <p>Contact Email:</p>
                    <input type="text" name="org_name" [(ngModel)]="contact_email" class="form-control">
                  </div>              
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Bio/Description:</label>
                    <textarea [(ngModel)]="bio" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12" style="text-align: right;">
                        <button (click)="toggleAdd()" class="btn btn-secondary">Cancel</button>
                        <button style="margin-left:20px;" (click)="postForm()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Participants</h3>
                <div class="row" style="width:99%" *ngFor="let m of data.participants">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row" style="width:99%" >
                                        <div class="col-10">
                                            {{ m.full_name }} - {{ m.org_name }}
                                        </div>
                                        <div style="text-align: right;" class="col-2">
                                            <button class="btn btn-primary" (click)="edit(m)"><i class="bi bi-pencil-square"></i></button>
                                        </div>
                                    </div>                                   
                                </div>
                                <div class="card-body">
                                        <p>{{ m.title }}</p>
                                        <p>{{ m.contact_phone }}</p>
                                        <p>{{ m.contact_email }}</p>
                                        <p>{{ m.bio }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: right;">
                <button (click)="closeIt()" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>
