<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div style="margin-left: 30px; " class="card">
    <div class="container-fluid p-3">
        <div class="row card card-body m-3">
            <div class="col-8" style="background-color: white;">
                <h1>Video Clip Editor</h1>
                <h2 class="mt-2">{{ data?.formData?.project_name }}</h2>
            </div>   
        </div>  
        <div class="row p-3">
            <div class="col-3">
                <div class="card card-body">
                    <h2>Edit Menu</h2>
                    <sql-menu (menuClick)="processClick($event);" [active]="'BACKGROUND'">
                        <li #row id="BACKGROUND">Change Background(s)</li>
                        <li #row id="POSITION">Change Position</li>
                        <li #row id="CAPTIONS">Add Captions</li>    
                        <li #row id="TEXT">Add Text</li>
                        <li #row id="TRIM">Trim Media</li>
                        <li #row id="SRT">Create SRT (Closed Captions) Text</li>                                
                        <li #row id="REMOVE-AUDIO">Remove Audio</li>
                        <li #row id="EXTRACT-AUDIO">Extract Audio</li>
                        <li #row id="ADD-BACKGROUND-AUDIO">Add Background Audio</li>
                        <li #row id="RESTORE">Restore Original</li>
                    </sql-menu>
                </div>
            </div>
            <div class="col-sm-9">
                <div *ngIf="uploading=='Y'" class="card p-3">
                    <app-smart-upload [workspace_id]="data?.formData?.id" document_id="'0'" (cancel)="closeUpload()"></app-smart-upload>
                </div>
                <div class="card p-3">
                    <div class="row">
                        <div class="col-6">
                            <h2>Current Video Clip</h2>
                            <table class="table table-condensed table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width:150px;">Clip ID</th><td>{{ data.formData['id'] }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">Video Name</th><td>{{ data.formData['clip_name'] }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">Face Name</th><td>{{ data.formData['face_name'] }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">Voice Name</th><td>{{ data.formData['voice_name'] }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">Duration</th><td>{{ data.formData['duration'] }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">Version</th><td>{{ data.formData['version'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <video style="max-width:480px" class="library" controls preload="auto" data-config="some-js-object-here">
                                <source src="{{ data.file_url }}" type='video/mp4'>
                              </video>  
                        </div>
                    </div> 
                </div>
                <div *ngIf="section=='BACKGROUND'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Change Background</h2>
                            <div class="row">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                           <!--                   <h2>Select a Background</h2>
                                              <div class="row">
                                                <div *ngFor="let k of data.background_images" class="col-3">
                                                  <div class="card">
                                                    <img src="https://sqlstudios.com/uploads/{{ k.img_path }}" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                      <button (click)="selectBack(k);" class="btn btn-light">{{ k.upload_name }} (image)</button>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div *ngFor="let k of data.background_videos" class="col-3">
                                                  <div class="card">
                                                    <video style="max-width:480px" class="library" controls preload="auto" data-config="some-js-object-here">
                                                      <source src="https://sqlstudios.com/uploads/{{ k.img_path }}" type='video/mp4'>
                                                    </video>    
                                                    <div class="card-body">
                                                      <button (click)="selectBack(k);" class="btn btn-light">{{ k.upload_name }} (video)</button>
                                                    </div>
                                                  </div>
                                                </div>                              
                                              </div>  -->
                                              </div>
                                              <div class="col-6">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>Background: </p>
                                                        <select [(ngModel)]="data.backData['image_id']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                                                            <option *ngFor="let n of data.background_images" value="{{ n.id }}">{{ n.id }}-{{ n.upload_name }}</option>
                                                            <option *ngFor="let n of data.background_videos" value="{{ n.id }}">{{ n.id }}-{{ n.upload_name }}</option>
                                                          </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">

                                                    </div>
                                                    <div class="col-6">
                                                        <button (click)="postBackgroundChange()" style="margin-top:10px; width:200px;" class="btn btn-primary">Submit</button><br>    
                                                    </div>
                                                </div>
                                              </div>
         
                                    </div>
                            </div>  
                        </div>
                        </div>
                </div>  
                </div>               
                <div *ngIf="section=='CAPTIONS'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Add Captions</h2>
                            <div class="row">
                                <div class="card-body">
                                    <div class="row">
                                          <div class="col-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p>Closed Captioning (SRT) File: </p>
                                                    <select [(ngModel)]="data.backData['image_id']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                                                        <option *ngFor="let n of data.background_images" value="{{ n.id }}">{{ n.id }}-{{ n.upload_name }}</option>
                                                        <option *ngFor="let n of data.background_videos" value="{{ n.id }}">{{ n.id }}-{{ n.upload_name }}</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-6">
                                                    <button (click)="postBackgroundChange()" style="margin-top:10px; width:200px;" class="btn btn-primary">Submit</button><br>    
                                                </div>
                                            </div>
                                          </div>
     
                                </div>
                        </div>  
                    </div>
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='TEXT'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Add Text to Clip</h2>
                            <div class="row">
                                <div class="card-body">
                                    <div class="row">
                                          <div class="col-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p>Text To Add: </p>
                                                    <textarea [(ngModel)]="data.backData['image_id']" class="form-control" name="voice_id" id="exampleFormControlInput1" placeholder="">
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-6">
                                                    <button (click)="postBackgroundChange()" style="margin-top:10px; width:200px;" class="btn btn-primary">Submit</button><br>    
                                                </div>
                                            </div>
                                          </div>
     
                                </div>
                        </div>  
                    </div>
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='SPLIT'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Split Video</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-body">
                                    
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='EXTRACT'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Extract Section of Clip</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='SRT'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Create Closed Captions (SRT) File</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='TRIM-FRONT'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Trim Front of Video</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='TRIM-BACK'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Trim Back of Video</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='POSITION'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Add Captions</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='RESIZE'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Add Captions</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div>  
                <div *ngIf="section=='OVERLAY'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Add Captions</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div>       
                <div *ngIf="section=='REMOVE-AUDIO'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Remove Audio</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div>    
                <div *ngIf="section=='EXTRACT-AUDIO'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Extract Audio</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div>                                       
                <div *ngIf="section=='ADD-BACKGROUND-AUDIO'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Add Background Audio</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div> 
                <div *ngIf="section=='RESTORE'" class="card p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2>Restore Original</h2>
                            <div class="row">
                                <div *ngFor="let m of data.video_media" class="col-4 card">
                                    <div class="card-header">
                                        {{ m.id }}: {{ m.video_name }}
                                    </div>
                                </div>
                            </div>  
                        </div>
                        </div>
                </div>                 
                <div *ngIf="version=='Y'" class="card p-3">
                    <hr/>
                    <app-sql-upload [document_id]="doc_id" [workspace_id]="data.formData.id"></app-sql-upload>
                </div>
            </div>
        </div>   
    </div>
    </div>    
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
            <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>
    </div>