
<sql-add-table [title]="'Assessment List'"
  [sql]="'[assessment_list]'">
<th #column id="id">id</th>
<th #column id="due_date">due_date</th>
<th #column id="org_name">org_name</th>
<th #column id="facility_name">facility_name</th>
<th #column id="facility_city">facility_city</th>
<th #column id="contact_name">contact_name</th>
<th #column id="contact_phone">contact_phone</th>
<button #columm id="">Go to Assessment</button>
<div form><app-survey-form></app-survey-form></div>
</sql-add-table>