<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
  <div class="col-lg-8 col-xl-9 col-xxl-10">
  <div class="content-wrappe">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="card">
                <div class="card-header">
                  <div class="row" style="width:95%">
                      <div class="col-8">
                          <h1>Projects</h1>
                      </div>
                  </div>
                </div>
                <div class="card-body"> 
                  <div class="row">  
                    <div class="col-8">
                        <h2 style="margin-left:20px;">Existing Projects</h2>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th style="width:100px;">ID</th>
                                <th style="width:120px;">Date/Time</th>
                                <th>Project Name</th>
                                <th style="width:100px;">Project Type</th>
                                <th style="width:150px;"></th> 
                            </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let m of data.list">
                            <tr>
                              <td>{{ m.id }}</td>
                              <td>{{ m.create_timestamp }}</td>
                              <td>{{ m.project_name }}</td>
                              <td>{{ m.project_type }}</td>
                              <td>
                                <button [routerLink]="['/project',m.id]" style="margin-top:10px; width:200px;" class="btn btn-success">Project Dashboard</button>
                              </td>
                          </tr>
                          </ng-container>
                        </tbody>
                    </table>    
                    </div>
                    <div class="col-4">
                        <div class="card" style="margin-top:20px;">
                            <h2 style="margin-left:20px;">Start New Project</h2>
                            <div class="card-body">
                              <div class="row">
                              </div>
                                <div class="row">
                                    <div class="col-12">
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Project Type</label>
                                        <select [(ngModel)]="data.formData['project_type']" class="form-control" name="source" id="exampleFormControlInput1" placeholder="">
                                            <option value="">-- Select a Project Type --</option>
                                            <option value="video">Video</option>
                                            <option value="audio">Audio</option>                                              
                                        </select>
                                      </div> 
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Project Name</label>
                                        <input [(ngModel)]="data.formData['project_name']" type="text" class="form-control" name="video_name" id="exampleFormControlInput1" placeholder="">
                                      </div>                                                                                                                                  
                                          <div class="row">
                                            <div class="col-12" style="text-align: right;">
                                                <button (click)="toggleEdit()" class="btn btn-secondary">Cancel</button>
                                                <button style="margin-left:20px;" (click)="postForm()" class="btn btn-primary">Submit</button>
                                            </div>
                                          </div>
                                    </div>
                            </div>
                            </div>
                        </div>                        
                    </div>                              
                  </div>
                </div>  
              </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>