<h3>Upload Photo</h3>
    <file-upload class="fileUpload"  
            (ngFileDrop)="drop();" 
            [control]="fileUploadControl" 
            [(ngModel)]="uploadedFiles" 
            name="files"></file-upload>
            <div [innerHTML]="uploadedList"></div>
            <div class="progress form-group" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Photo Name</label>
                <input [(ngModel)]="photo_name" type="text" class="form-control" id="exampleFormControlInput1">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea [(ngModel)]="dsc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
    <div class="row p-2">
        <div class="col-4"></div>
        <div class="col-2"></div>
        <div class="col-6" style="text-align: right;">
            <button (click)="doClose()" class="btn btn-secondary">Cancel</button>
            <button style="margin-left: 20px;" (click)="uploadFiles()" class="btn btn-primary">Upload</button>
        </div>
        </div>